.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;

    // add a border
    border-bottom: 1px solid #e5e5e5;

    .logoText {
        font-family: Chalkduster, fantasy;
        font-size: 24px;
        line-height: 60px;
        height: 100%;
        width: 180px;
    }
    .inputAndUser {
        display: flex;
        gap: 24px;
        width: 300px;
        .userIcon {
            font-size: 24px;
            cursor: pointer;
        }
        .userIcon:hover {
            color: grey;
        }
    }


}